.home-container {
    display: flex;
    align-items: start;
    /* Makes sure items start from the top */
}

.home-image {
    flex: 1;
    /* Takes up 1 portion of the flex container */
    max-width: 150px;
    /* Example width, adjust as needed */
    margin-left: 20px;
}

.home-content {
    flex: 2;
    /* Takes up 2 portions of the flex container */
}

.img-rounded {
    border-radius: 50%;
    /* Rounds the image */
    width: 100%;
}

code {
    background-color: #2E343B; 
    color: var(--text-color);  
}

/* Ensure links within code blocks are styled as links */
code a {
  text-decoration: underline; /* Makes links in code more obvious */
  color: var(--link-color);
}

/* Style for <code> tags that are part of an <a> tag */
a code {
  color: var(--link-color);
  /* The background-color will be inherited from the general 'code' rule */
  /* Text decoration (underline) will be inherited from the parent 'a' tag, typically on hover */
}

::selection {
    background-color: #00d992; 
    color: #070f11; 
}

:root {
  --background-color: rgb(26, 29, 33);
  --heading-color: #eee;
  --text-color: #ddd;
  --link-color: #00d992;
  --visited-color: #00d992;
  --code-background-color: #000;
  --code-color: #ddd;
  --blockquote-color: #ccc;
  --width: 1200px; /* Increase main content width from default 800px */
}

.flex-container {
    display: flex;
  
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
  
  }
  
  .flex-item {
    width: 50%;
  }

  @media screen and (max-width: 1200px) {
    .home-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .home-content {
        flex: 2;
        order: 2;
        /* Takes up 2 portions of the flex container */
    }
    

    .home-image {
        order: 1;
        margin-left: 0;
        margin-bottom: 20px;
        /* Add some space below the image */
        max-width: 100%;
        /* Allows the image to be fully responsive */
    }

    .home-image img {
        max-width: 150px;
        /* or any other appropriate size */
        display: block;
        margin: 0 auto;
        /* Centers the image */
    }
  .flex-item {
    width: 100%;
  }
}

    