$rouge-isen: #b82a28;

@font-face {
    font-family: target-light;
    src: url('../fonts/TargetLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: target-book;
    src: url('../fonts/TargetBooK.ttf');
    font-weight: 10px;
    font-style: normal;
}

.logo-isen {
    display: inline-block;
    font-family: target-light;
	font-size: x-small;
    text-align: left;
    h1 {
    	    color: $rouge-isen;
        display: inline-block;
        font-family: target-book;
        font-size: 2.4em;
        line-height: 0;
        font-weight: normal;
        text-transform: uppercase;
        width: (6em / 2.4);
        text-align: right;
    }

    h2 {
        color: $rouge-isen;
        display: inline-block;
        font-family: target-light;
        font-size: 1em;
        line-height: 1em;
        font-weight: normal;
        max-width: 6em;
        margin-left: .3em;
        padding-left: .5em;
        border-left: .1em solid $rouge-isen;
        text-transform: lowercase;
    }
}