body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  max-width:100%;

.welcome{
	background-color: $blue_background;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-left:0;
	margin-right:0;
	
	h1{
		color: white;
	}

	.social{
		margin-top: 30px;
		.socials_icons{
			margin: 15px;
			width: 50px;

		}
	}
}

.about{
	padding-bottom:30px;
	.profile_image{
		  display: block;
  margin-left: auto;
  margin-right: auto;
		margin-bottom: 20px;
	}
}
.skills{
	background: #f7f7f7;
	padding:30px;
	margin-left:0;
	margin-right:0;
	.skills-nav{
		    margin: 0 auto;
    padding: 0;
	}
}
.education{
	background: #f7f7f7;
		margin-left:0;
	margin-right:0;
}

}

.md-4-img{
	max-width:370px;
	max-height: 370px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.google_color{
	height: 1px;
	margin-top:20px;
	margin-bottom: 50px;
	 font-size: 2px;
}

#google_color:after, #google_color:before {
content: "";
float: right;

}

.google_color:before{
	border-width:500px;
	border-left: 70px solid $blue_google;
	border-right: 70px solid $red_google;
	content: "";
}
.google_color:after{
		border-width:500px;

	border-left: 70px solid $green_google;
	border-right: 70px solid $orange_google;
content: "";
}