
	@-webkit-keyframes fadearrow {

	0% { opacity: 0;
	-webkit-transform: scale(0);
	-webkit-transform:rotate(0deg); }
	100% { opacity: 1;
	-webkit-transform: scale(1.4);
	-webkit-transform:rotate(30deg); }

}
@-ms-keyframes fadearrow {

	0% {
	opacity: 0;
		-ms-transform: scale(0);
		-ms-transform: rotate(0deg);
		}
	100% { opacity: 1;
		-ms-transform: scale(1.4);
		-ms-transform: rotate(30deg);
		 }
}


@-moz-keyframes fadearrow {

	0% { opacity: 0;
	-moz-transform: scale(0);
	-moz-transform: rotate(0deg); }
	100% { opacity: 1;
	-moz-transform: scale(1.4);
	-moz-transform: rotate(30deg);}

}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  max-width:100%;

footer{

	padding-top: 90px;
	padding-bottom: 60px;
	background-color: $blue_background;
	color: white;

}

.welcome{
	background-color: $blue_background;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 60px;
	margin-left:0;
	margin-right:0;

	h1{
		color: white;
	}

	.social{
		margin-top: 30px;
		.socials_icons{
			margin: 15px;
			width: 50px;

		}
	}
}

.about{
	margin-left:0;
	margin-right:0;

	padding-bottom:30px;

	.profile_image{
		  display: block;
  margin-left: auto;
  margin-right: auto;
		width:80%;
		max-width:200px;
		margin-bottom:30px;
	}
}
.skills{
background: #f7f7f7;
	padding:30px;
	margin-left:0;
	margin-right:0;
	.skills-nav{
			margin: 0 auto;
	padding: 0;
	}
}
.education{
		margin-left:0;
	margin-right:0;
}
.work{
	margin-left:0;
	margin-right:0;

}
.projects{
	margin-left:0;
	margin-right:0;
	background: #f7f7f7;

}
.recommendation{
	margin-left:0;
	margin-right:0;
	background: #f7f7f7;
}
}

.project_container{
	margin-top:10px;
	margin-bottom:10px;

}

.life{
		margin-left:0;
	margin-right:0;
}

.rentree_trigger,
.rentree_detail,
.making_data_trigger,
.making_data_detail,
.skymap_trigger,
.skymap_detail,
.orizon_trigger,
.orizon_detail,
.paidday_trigger,
.paidday_detail,
.CIR_trigger,
.CIR_detail,
.python_trigger,
.python_detail,
.homer_trigger,
.homer_detail,
.line_trigger,
.line_detail,
.arkea_trigger,
.arkea_detail,
.thomson_trigger,
.thomson_detail,
.prepa_trigger,
.prepa_detail,
.glasscamp_trigger,
.glasscamp_detail,
.majeur_trigger,
.majeur_detail,
.eudyptula_trigger,
.eudyptula_detail,
.seatestbase_trigger,
.seatestbase_detail,
.youcode_trigger,
.youcode_detail,
.ovh_trigger,
.ovh_detail,
.gostatic_trigger,
.gostatic_detail{
	 cursor:  pointer;
}

.md-4-img{
	max-width:300px;
	max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;
}

.google_color{
	height: 1px;
	margin-top:20px;
	margin-bottom: 25px;
	 font-size: 2px;
}

#google_color:after, #google_color:before {
content: "";
float: right;

}

.google_color:before{
	border-width:500px;
	border-left: 70px solid $blue_google;
	border-right: 70px solid $red_google;
	content: "";
}
.google_color:after{
		border-width:500px;

	border-left: 70px solid $green_google;
	border-right: 70px solid $orange_google;
content: "";
}

.arrow{

	position: absolute;

	margin-left: 20px;
	margin-top: 30px;


		  -webkit-transform:rotate(30deg);
		-moz-transform: rotate(30deg);
		-o-transform: rotate(30deg);
		-ms-transform: rotate(30deg);
		transform: rotate(30deg);

}

.arrow_text{

	position: absolute;
	margin-left: 170px;
	padding-top: 70px;
	color:white;
}

.thumb_tech{
	max-width:120px;
	max-height:75px;
}

.personal_line{
	margin-left:0;
	margin-right:0;
}

.changing_menu > a{

	padding-left: 0;
	padding-right: 0;
}

footer{
	margin-top: 30px;
	text-align: center;
}

.project_image{
	height:140px;
}




