
.skills-diagram {

  max-width:90%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 2em auto 2em;
  margin-top: 60px;

}
.skills-diagram > dd {
  /* Hide inner attributes */
  display: none;
}
.skills-diagram dt {
  display: inline-block;
  vertical-align: top;

  border-style: solid;
  border-width: 1px;
  border-radius: 50%;


  /* set defaults to skill-2 */
  width: 2em;
  height: 2em;
  line-height: 2em;
}


.skills-diagram dt:hover {
  -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

/* Support vertical mode */
.skills-diagram-vertical dt {
  display: block;
  /* .25em is an equivalent to inline-block's horizontal whitespace margin */
  margin: .25em auto;
}

/* Provide 10 different sizes */
.skills-diagram .skill-2 {
  width: 2em;
  height: 2em;
  line-height: 2em;
  }
.skills-diagram .skill-3 {
  vertical-align: middle;

  width: 3em;
  height: 3em;
  line-height: 3em;
  }
.skills-diagram .skill-4 {
  width: 4em;
  height: 4em;
  line-height: 4em;
  }
.skills-diagram .skill-5 {
  vertical-align: bottom;

  width: 5em;
  height: 5em;
  line-height: 5em;
  }
.skills-diagram .skill-6 {
  vertical-align: top;

  width: 6em;
  height: 6em;
  line-height: 6em;

    }
.skills-diagram .skill-7 {
  width: 7em;
  height: 7em;
  line-height: 7em;
}
.skills-diagram .skill-8 {
  vertical-align: bottom;


  width: 8em;
  height: 8em;
  line-height: 8em;
}
.skills-diagram .skill-9 {
  width: 9em;
  height: 9em;
  line-height: 11em;
  }
.skills-diagram .skill-10 {
  width: 10em;
  height: 10em;
  line-height: 10em;
}

.OS_skills{
	  background-color: rgba(195, 192, 100, .3);
  border-color: rgba(195, 192, 100, 1);
  color: white;
    color: rgba(195, 192, 100, 1);
}

.dev_skills{
  background-color: rgba(81, 112, 144, .3);
  border-color: rgba(110,131,151,1);
  color: white;
    color:rgba(81, 112, 144, 1);
}


.web_skills{
  background-color: rgba(214, 89, 102, .3);
  border-color: rgba(214, 89, 102, 1);
  color: white;
    color:rgba(214, 89, 102, 1);
}

.network_skills{
	  background-color: rgba(46, 138, 75, .3);
  border-color: rgba(46, 138, 75, 1);
  color: white;
    color: rgba(46, 138, 75, 1);
}


.other_skills{
  background-color: rgba(138, 138, 140, .3);
  border-color: rgba(138, 138, 140, 1);
  color: white;
    color:rgba(138, 138, 140, 1);
}

.others_font{
	color:rgba(138, 138, 140, 1);
}

.dev_skills.ng-enter,
.web_skills.ng-enter,
.network_skills.ng-enter,
.OS_skills.ng-enter,
.other_skills.ng-enter { 
  -webkit-animation: flipInX 1.5s;
  -moz-animation: flipInX 1.5s;
  -o-animation: flipInX 1.5s;
  -ms-animation: flipInX 1.5s;
}




