// Gooogle's color

$blue_google:#33B5E5;
$purple_google:#AA66CC;
$green_google:#99CC00;
$orange_google:#FFBB33;
$red_google:#FF4444;
$blue_light:#D3E2EF;

// Background
$blue_background:#34495e;

// font
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);